/*UNIVERSAL STYLE*/
html, body {
    margin: 0;
}

h1 {
    position: relative;
    top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    font-style: italic;
    text-align: center;
    color: rgba(255, 193, 105, 95);
    display: block;
}

h2 {
    position: relative;
    top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.9rem;
    font-style: italic;
    margin-left: 15px;
    color: rgba(255, 193, 105, 95);
    display: block;
}

p {
    position: relative;
    top: 20px;
    right: 18%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    line-height: 2;
    color: white;
    background-color: rgba(53, 127, 176, 69);
    display: inline-block;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 10px;
}

a {
    color: rgba(255, 193, 105, 95);
    font-style: italic;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 193, 105, 95);
    cursor: pointer;
    margin-left: 20%;
}

/*TITLE PAGE STYLE*/
.title-page {
    display: inline-block;
    background: url('Resources/different-dog-breeds.jpg') center center no-repeat;
    background-size: cover;
    height: 500px;
    width: 1440px;
}

.title-page h1 {
    position: absolute;
    top: 58%;
    left: 37%;
    font-size: 3rem;
}

/*HEADER STYLE*/
nav {
    width: 100%;
    background-color: rgba(53, 127, 176, 69);
    display: inline-block;
    text-align: center;
    position: fixed;
    top: 0;
    font-size: 1.2rem;
    z-index: 999;
}

li {
    display: inline-block;
    padding: 10px 70px;
}

#dog-breed:hover, #best-dogs:hover {
    background-color: rgba(255, 193, 105, 95);
    color: rgba(104, 195, 255, 100);
}

.dog-paws-logo {
    position: absolute;
    top: 8%;
    right: 88%;
    width: 10%;
    height: 90%;
    border-radius: 50px;
}
.dog-paws-logo:hover {
    border: 1px solid rgba(255, 193, 105, 95);
}

/*MAIN STYLE*/
body {
    background-color: rgba(104, 195, 255, 100);
}

main{
    /*border: 1px solid black;*/
    margin-top: 10%;
}

#dog-breed-info{
    height: 40%;
    width: 90%;
    /*border: 1px solid black;*/
    margin-top: 1%;
    margin-left: 5%;
    margin-bottom: 4%;
    box-sizing: border-box;
}

.even-breed-ranking {
    height: 40%;
    width: 50%;
    margin-left: 10%;
    margin-top: 5%;
}

.odd-breed-ranking {
    height: 40%;
    width: 50%;
    margin-left: 45%;
    margin-top: 5%;
}

#breed-photos {
    height: 40%;
    width: 70%;
    border: 1px solid black;
    border-radius: 20px;
}

figcaption {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.9rem;
    font-style: italic;
    margin-bottom: 2%;
    /*margin-left: 20%;*/
    color: rgba(255, 193, 105, 95);
    background-color: rgba(53, 127, 176, 69);
    display: block;
    width: 50%;
    text-align: center;
    border-radius: 10px;
}


h3:hover {
    background-color: rgba(53, 127, 176, 69);
    color: rgba(255, 193, 105, 95);
    width: 30%;
    text-align: center;
}