/*UNIVERSAL STYLE*/
html, body {
    margin: 0;
}

h1 {
    position: relative;
    top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    font-style: italic;
    text-align: center;
    color: rgba(255, 193, 105, 95);
    display: block;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.9rem;
    font-style: italic;
    color: rgba(255, 193, 105, 95);
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    line-height: 2;
    color:  rgba(53, 127, 176, 69);
    background-color: rgba(255, 193, 105, 95);
    display: inline-block;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 10px;
}

a {
    color: rgba(255, 193, 105, 95);
    font-style: italic;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 193, 105, 95);
    
}

/*TITLE PAGE STYLE*/
.title-page {
    display: inline-block;
    background: url('Resources/different-dog-breeds.jpg') center center no-repeat;
    background-size: cover;
    height: 500px;
    width: 1440px;
}

.title-page h1 {
    position: absolute;
    top: 58%;
    left: 37%;
    font-size: 3rem;
}

/*HEADER STYLE*/
nav {
    width: 100%;
    background-color: rgba(53, 127, 176, 69);
    display: inline-block;
    text-align: center;
    position: fixed;
    top: 0;
    font-size: 1.2rem;
    z-index: 999;
    border: 0.5px solid black;
}

li {
    display: inline-block;
    padding: 10px 70px;
}

#dog-breed:hover, #best-dogs:hover {
    background-color: rgba(255, 193, 105, 95);
    color: rgba(104, 195, 255, 100);
    border-radius: 10px;
}

.dog-paws-logo {
    position: absolute;
    top: 8%;
    right: 88%;
    width: 10%;
    height: 90%;
    border-radius: 50px;
}
.dog-paws-logo:hover {
    border: 1px solid rgba(255, 193, 105, 95);
}

/*MAIN STYLE*/
body {
    background-color: rgba(104, 195, 255, 100);
}

main{
    margin-top: 10%;
    margin-bottom: 5%;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 2%;
    margin-left: 3%;
    margin-right: 3%;
    padding-bottom: 10%;
    background-color: rgba(53, 127, 176, 69);
    border-radius: 10px;
    width: 90%;
    height: 90%;
}

.grid-title-item {
    grid-column-start: 1;
    grid-column-end: 4;
    padding-left: 2%;
}

#breed-photos {
    height: 40%;
    width: 80%;
    border: 1px solid black;
    border-radius: 20px;
}

figcaption {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.9rem;
    font-style: italic;
    margin-bottom: 2%;
    color: rgba(255, 193, 105, 95);
    display: block;
    width: 90%;
    text-align: center;
}

.breed-description {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 193, 105, 95);
    cursor: pointer;
    margin-left: 25%;
}

.breed-description:hover {
    background-color: rgba(255, 193, 105, 95);
    color: rgba(53, 127, 176, 69);
    width: 40%;
    text-align: center;
    border-radius: 10px;
}

/*FOOTER STYLE*/
footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 40px;
    background-color: rgba(53, 127, 176, 69);
    color: rgba(255, 193, 105, 95);
    display: block;
}