/*UNIVERSAL STYLE*/
html, body {
    margin: 0;
}

h1 {
    position: relative;
    top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    font-style: italic;
    text-align: center;
    color: rgba(255, 193, 105, 95);
    display: block;
}

h2 {
    position: relative;
    top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.9rem;
    font-style: italic;
    margin-left: 15px;
    color: rgba(255, 193, 105, 95);
    display: block;
}

p{
    position: relative;
    top: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    line-height: 2;
    margin-left: 50px;
    color: white;
    display: inline-block;
}

a {
    color: rgba(255, 193, 105, 95);
    font-style: italic;
}

/*HEADER STYLE*/
nav {
    width: 100%;
    background-color: rgba(53, 127, 176, 69);
    display: inline-block;
    text-align: center;
    position: fixed;
    top: 0;
    font-size: 1.2rem;
    z-index: 999;
    border-bottom: 0.5px solid rgba(255, 193, 105, 95);
}

li {
    display: inline-block;
    padding: 10px 70px;
}

#dog-breed:hover, #best-dogs:hover {
    background-color: rgba(255, 193, 105, 95);
    color: rgba(104, 195, 255, 100);
    border-radius: 10px;
}

.dog-paws-logo {
    position: absolute;
    top: 8%;
    right: 88%;
    width: 10%;
    height: 90%;
    border-radius: 50px;
}
.dog-paws-logo:hover {
    border: 1px solid rgba(255, 193, 105, 95);
}

/*TITLE PAGE STYLE*/
.title-page {
    display: inline-block;
    background: url('Resources/title-background-image.jpg') center center no-repeat;
    background-size: cover;
    height: 500px;
    width: 1440px;
    padding-top: 10%;
}

.title-page h1 {
    position: absolute;
    top: 75%;
    left: 37%;
    font-size: 3rem;
}


/*MAIN STYLE */
body {
    background-color: rgba(104, 195, 255, 100);
}

main {
    height: 20%;
    width: 90%;
    margin-top: 7%;
    margin-left: 5%;
    padding-top: 1%;
    padding-bottom: 3%;
    padding-left: 2%;
    display: block;
    background-color: rgba(53, 127, 176, 69);
    border-radius: 10px;
}

#external-resources li {
    display: list-item;
    list-style-type: circle;
    font-size: 1rem;
}

.dogs-pictures {
    width: 40%;
    height: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    margin-bottom: 1%;
    border: 1px black solid;
    border-radius: 20px;
    display: block;
}

.dogs-evolution {
    width: 40%;
    height: 20%;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 2%;
}

figcaption {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    margin-left: 12%;
}

.photo-album-functionality {
    text-align: center;
}

#previous-arrow, #photo-count, #next-arrow {
    display: inline;
    color: rgba(255, 193, 105, 95);
}

#previous-arrow {
    margin-right: 15px;
    font-size: 1.5rem;
    cursor: pointer;
}

#previous-arrow:hover {
    background-color: rgba(53, 127, 176, 69);
    color: white;
}

#next-arrow {
    margin-left: 15px;
    font-size: 1.5rem;
    cursor: pointer;
}

#next-arrow:hover {
    background-color: rgba(53, 127, 176, 69);
    color: white;
}

.dogs-background p {
    width: 50%;
    top: 2px;
}

aside {
    box-sizing: border-box;
    position: relative;
    left: 3%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.5rem;
    line-height: 2;
    color: white;
    background-color: rgba(255, 193, 105, 95);
    display: inline-block;
    width: 40%;
    border: 1px solid black;
    border-radius: 20px;
}

.external-resources-link {
    color: rgba(53, 127, 176, 69);
    font-style: italic;
}

/*Footer styles*/
footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 40px;
    background-color: rgba(53, 127, 176, 69);
    color: rgba(255, 193, 105, 95);
    display: block;
}

